# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.dart_tool
.dart_tool/flutter_build/dart_plugin_registrant.dart
.flutter-plugins-dependencies
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/outputs.json
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/native_assets.json
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/kernel_snapshot_program.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/kernel_snapshot_program.d
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/IssueLaunchRootViewControllerAccess.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/install_code_assets.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/install_code_assets.d
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/gen_localizations.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/flutter_assets.d
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/debug_unpack_ios.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/debug_universal_framework.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/debug_ios_lldb_init.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/dart_build_result.json
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/dart_build.stamp
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/dart_build.d
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/App.framework/App
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/app.dill
.dart_tool/flutter_build/6d8ecb06ecf5b3c72eca76a05a32b277/.filecache
.dart_tool/
